= form_for(@item) do |f|

  .row-fluid
    .span6

      .field
        = f.label :title, 'Titel:'
        = f.text_field :title

      .field
        = f.label :income, 'Einkommen unter CHF:'
        = f.select(:income, [1000, 2000, 3000])

      .field
        = f.label :description, 'Beschreibung:'
        = f.text_area :description, :size => "50x10"

      .field
        = f.label :str_1, 'Textfeld 1:'
        = f.text_field :str_1

      .field
        = f.label :str_2, 'Textfeld 2:'
        = f.text_field :str_2

      .field
        = f.label :str_3, 'Textfeld 3:'
        = f.text_field :str_3

      .field
        = f.label :str_4, 'Textfeld 4:'
        = f.text_field :str_4

      .field
        = f.label :str_5, 'Textfeld 5:'
        = f.text_field :str_5

      .field
        = f.label :str_6, 'Textfeld 6:'
        = f.text_field :str_6

      .field
        = f.label :str_7, 'Textfeld 7:'
        = f.text_field :str_7

      .field
        = f.label :str_8, 'Textfeld 8:'
        = f.text_field :str_8

    .span6

      .field
        = f.label :text, 'Details:'
        = f.text_area :text, :size => "50x10"

      .field
        = f.label :int_1, 'Zahlenfeld 1:'
        = f.text_field :int_1

      .field
        = f.label :int_2, 'Zahlenfeld 2:'
        = f.text_field :int_2

      .field
        = f.label :int_3, 'Zahlenfeld 3:'
        = f.text_field :int_3

      .field
        = f.label :int_4, 'Zahlenfeld 4:'
        = f.text_field :int_4

      .field
        = f.label :int_5, 'Zahlenfeld 5:'
        = f.text_field :int_5

      .field
        = f.label :int_6, 'Zahlenfeld 6:'
        = f.text_field :int_6

      .field
        = f.label :int_7, 'Zahlenfeld 7:'
        = f.text_field :int_7

      .field
        = f.label :int_8, 'Zahlenfeld 8:'
        = f.text_field :int_8

  .actions
    = f.submit('Speichern', :class => 'btn')