%h3= @item.title

%h6 Für Einkommen unter CHF:
= @item.income

.row-fluid
  .span6

    %h6 Beschreibung:
    = @item.description

    %h6 Textfeld 1:
    = @item.str_1

    %h6 Textfeld 2:
    = @item.str_2

    %h6 Textfeld 3:
    = @item.str_3

    %h6 Textfeld 4:
    = @item.str_4

    %h6 Textfeld 5:
    = @item.str_5

    %h6 Textfeld 6:
    = @item.str_6

    %h6 Textfeld 7:
    = @item.str_7

    %h6 Textfeld 8:
    = @item.str_8

  .span6

    %h6 Details:
    = @item.text

    %h6 Zahlenfeld 1:
    = @item.int_1

    %h6 Zahlenfeld 2:
    = @item.int_2

    %h6 Zahlenfeld 3:
    = @item.int_3

    %h6 Zahlenfeld 4:
    = @item.int_4

    %h6 Zahlenfeld 5:
    = @item.int_5

    %h6 Zahlenfeld 6:
    = @item.int_6

    %h6 Zahlenfeld 7:
    = @item.int_7

    %h6 Zahlenfeld 8:
    = @item.int_8